<!DOCTYPE html>

<html lang="en">

<!-- head -->
<%- include ("../partials/head",{title: "Administración" ,bootstrapActive: true})%>

<body>

    <main class="main-admin">

        <div class="barraLateral">

        <div class="logo">
            <img src="\images\logos\logo.ico" alt="">
        </div>

        <div class="menu">
 
            <ul class= menu-ul>

                <li class="li-dash">
                    <i class="fa-solid fa-user"></i>
                    <a href="#"><p>Usuario</p></a>
                </li>
                
                <li class="li-dash">
                    <i class="fa-solid fa-cubes-stacked"></i>
                    <a href="#"><p>Stock</p></a>
                </li>
                
                <li class="li-dash">
                    <i class="fa-solid fa-circle-plus"></i>
                    <a href="../admin/crearProduct"><p>Agregar producto</p></a>
                </li>
                
                <li class="li-dash">
                    <i class="fa-solid fa-layer-group"></i>
                    <a href="#"><p>Pedidos</p></a>
                </li>
                
                <li class="li-dash">
                    <i class="fa-solid fa-box-archive"></i>
                    <a href="#"><p>Archivos </p></a>
                </li>
                
                <li class="li-dash">
                    <i class="fa-solid fa-inbox"></i>
                    <a href="#"><p>Mensajes</p></a>
                </li>
            </ul>
        </div>
        </div> 

        <div class="container-superior">
    
            <div class="buscador"> 
              <input type="search" placeholder="Search..." />
              <i class="fas fa-search"></i>
            </div>

            <div class="adminUser">
                <img src="/images/DSC_0661.JPG" alt="ImagePerfil">
                <h5>ArianaKneeteman</h5>
                <h6>Admin</h6>
            </div>
        </div>                  
      
    </main>

<!--Contenido de las demas vistas-->
    <%- views %>

<!--Scripts Bootstrap-->
<script src="/js/functions/dashboard.js"></script>

</body>

</html>