<header>
    <div class="partSup">
      <img class="logoHeader" src="/images/logo.png" alt="logo">
      <i class="fas fa-bars hamb1"></i>
      <div class="logueoHeader">
        <nav>
          <ul>
            <li><a href="/carrito"><i class="fas fa-cart-plus carritoHeader"></i></a></li>
            <li><a href="/user/login"><i class="fa-regular fa-heart coraHeader"></i></a></li>
            <li><a href="/user/register"><i class="fa-regular fa-user userHeader"></i></a></li>

          </ul>
        </nav>
      </div>
    </div>
    <div class="partInf">
      <nav class="navHeader2">
        <ul class="ulInf">
          <button type="button" class="verMenu"><i class="fas fa-bars hamb2"></i> Ver menú</button>
          <li><a href="/producto/detalle"> Papas</a></li>
          <li><a href="/producto/detalle"> Pizzas</a></li>
          <li><a href="/producto/detalle"> Hamburguesas</a></li>
        </ul>
      </nav>
      <div class="divBusquedaHeader">
        <form action="/register" method="post">
          <input type="text" name="productoBuscado" placeholder="Buscar productos" value="">
          <button><i class="fas fa-search lupaHeader"></i></button>
        </form>
      </div>
    </div>
  </header>