.container-article{
display: flex;
justify-content: center;
gap: 20px;
}
.container-article .articulos-home{
    width: 17%;
    border: 1px solid lightgray;
    padding: 13px;
    background-color: white;
    border-radius: 8px;


}
.container-article .articulos-home{
    position: relative;
    display: inline;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

.articulos-home  .precio-off span{
    font-weight: bold;
}

.articulos-home .precio-off span:nth-child(2){
    color: var(--Naranja);
    font-size: 11px;
    
}

.articulos-home  .container-img img{
    width: 100%;
    
}

.articulos-home .envio-gratis{
    color: var(--Naranja);
    font-size: 10px;
    font-weight: bolder;
}

.articulos-home  .button-container{
    margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    
    
    .articulos-home  .button-container button{
        background: var(--Naranja);
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 12px;
        padding: 2px;
       width: 90%;
      
    }