<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>

</head>

<body>
    <header>

    </header>

    <main>

    </main>









































    
    <footer class="main-footer">

        <div class="logo">
            <figure>
                <img src="./images/logos/logo-normal.png" alt="logo">
            </figure>

            <div class="suscrip-forms">
                <form>
                    <label>Suscribete y enterate de nuestras Promos!</label>
                    <input type="text" id="suscripcion" name="suscripcion" placeholder="Ingresa tu email">
                </form>
            </div>


            <nav class="container">

                <ul class="ul1">
                    <li>Sobre Nosotros</li>
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Terminos de uso</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
                <ul class="ul2">
                    <li>Redes Sociales</li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Youtube</a></li>
                </ul>
                <ul class="ul3">
                    <li>Ayuda</li>
                    <li><a href="">Devoluciones</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Soporte</a></li>
                </ul>
            </nav>
        </div>

        <div class="fin">

            <div class="copy-left">
                <p>&copy; 2023, Group1-C24</p>
            </div>

            <div class="right">
                <ul class="iconos-right">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">YouTube</a></li>
                </ul>
            </div>

        </div>

    </footer>

</body>

</html>