<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include ("./partials/head", {title: "Login",bootstrapActive: false})%>

<body class="bodyLogin">
    <img class="pizzaLogin" src="/images/pizzaRegister.png" alt="">
    <main class="mainLogin">
        <a href="/"><i class="fa-solid fa-angle-left volverLogin"></i></a>
        <div class="fotosLogin">
            <img class="logoLogin" src="/images/logo.png" alt="">
        </div>
        <form class="formLogin" action="/Login" method="post">
            <div class="divUsuarioLogin divInputsLogin">
                <label class="tituloInputLogin" for="usuarioLogin">Usuario</label>
                <input class="barraInputLogin" type="text" name="usuarioLogin" value="" id="usuarioLogin">
            </div>
            <div class="divContrasenaLogin divInputsLogin">
                <label class="tituloInputLogin" for="contrasenaLogin">Contraseña</label>
                <input class="barraInputLogin" type="password" name="contrasenaLogin" value="" id="contrasenaLogin">
                <span class="feedback">nombre de usuario o contraseñar incorrecto</span>
            </div>
            </div>
            <div class="divBotonLogin">
                <button class="enviarLogin" type="submit">Login</button>
            </div>
            </div>
        </form>
        <p class="registrar"> No tienes cuenta, Creala <a class="iniciarSesionLogin" href="/register"> Registrar </a>
        </p>
        <p class="reCAPTCHAlogin">
            Este sitio está protegido por reCAPTCHA y se aplican la <a class="aCAPTCHA"
                href="https://policies.google.com/privacy">política de privacidad</a> y los <a class="aCAPTCHA"
                href="https://policies.google.com/terms">Términos de servicio de Google</a>.
        </p>
    </main>
</body>

</html>