<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include ("./partials/head",{title: "Carrito de compras",bootstrapActive: true})%>

<body>
    <!-- header -->
  <%- include ("./partials/header") %>
 <main class="main-carrito">
    <div class="carroDeCompras">
        <div class="parteSuperiorCarrito">
            <button type="button" class="cerrarCarrito1"><a href="/"><i
                    class="fa-solid fa-chevron-left carritoCerrar1"></i></a></button>
            <div class="datosUsuarioCarrito">
                <i class="fa-solid fa-circle-user userCarritoCompras" style="color: #000000;"></i>
                <h4>Usuario anónimo</h4>
                <p>unusuario@gmail.com</p>
            </div>
            <button type="button" class="cerrarCarrito2"><i class="fa-regular fa-circle-xmark"></i></button>
        </div>
        <div class="parteMedioCarrito">
            <div class="divProductoCarrito">
                <img class="imgProductoCarrito" src="/images/pizzaCarrito.png" alt="">
                <div class="divProductoAgregado">
                    <div class="productoCarritoCompras">
                        <h5>PIZZA CANTINPALO</h5>
                        <h5 class="precioCarritoCompras">$6750</h5>
                        <h6>10% OFF</h6>
                    </div>
                    <div class="masmenosCarrito">
                        <button type="button"><img class="menosCarrito" src="/images/menosCarrito.png" alt=""></button>
                        <p>1</p>
                        <button type="button"><img class="masCarrito" src="/images/masCarrito.png" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="divProductoCarrito">
                <img class="imgProductoCarrito" src="/images/hamburguesaCarrito.png" alt="">
                <div class="divProductoAgregado">
                    <div class="productoCarritoCompras">
                        <h5>HAMBURGUESA DOBLE</h5>
                        <h5 class="precioCarritoCompras">$4000</h5>
                        <h6>10% OFF</h6>
                    </div>
                    <div class="masmenosCarrito">
                        <button type="button"><img class="menosCarrito" src="/images/menosCarrito.png" alt=""></button>
                        <p>2</p>
                        <button type="button"><img class="masCarrito" src="/images/masCarrito.png" alt=""></button>
                    </div>
                </div>
            </div>
       
            <div class="agregarProductosCarrito">
                <button type="button" class="agregarPorductosCarrito"><a href="/productDetail"><i class="fa-solid fa-plus"></i></a></button>
            </div>
            <div class="parteInferiorCarrito">
                <div class="totalCarritoCompras">
                    <i class="fas fa-cart-plus iconCarritoCarrito"></i>
                    <h2>Total: $14750</h2>
                </div>
                <div class="divBotonCarritoCompras">
                    <button class="confirmarCompraCarrito">Confirmar</button>
                </div>
            </div>
    </div>
</main> 
<!-- footer -->
<%- include ("./partials/footer") %>
</body>
</html>