/*MOBILE*/
@media(max-width: 399px) {

    .main-footer {
        background-color: #333;
        color: #fff;
        margin: auto;
    }

    .seccion1-footer {}

    .sinacordeon {
        border-top: 2px solid white;
    }

    .ul2 {
        margin: 10px;
        padding-bottom: 6px;
        border-bottom: 2px solid white;
    }

    .ul2 .redes {
        font-weight: 800;
        display: block;
        padding: 4px;
        font-size: 21px;
    }

    li {
        display: inline;
        color: white;
        padding: 4px;
        margin: 3px;
    }

    .suscrip-forms {
        margin: 10px;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }

    form {
        position: relative;
    }


    label {
        font-weight: 800;
        padding-bottom: 6px;
    }

    input {
        position: relative;
        padding: 4px;
        border-radius: 6px;
    }

    .button {
        background-color: var(--Naranja);
        color: white;
        padding: 4px;
        border-radius: 6px;
        position: absolute;
        left: 157px;
        top: 31px;
    }

    .aFooter {
        color: white;
        font-size: 22px;
    }

    .fin {
        margin-left: 11px;
    }

    .footer-info {
        color: white;

    }

    .seccion2-footer {
        display: none;
    }
}

/*TABLET*/

@media(min-width: 400px) {
    .seccion1-footer {
        display: none;
    }

    .seccion2-footer {
        margin: 0;
    }

    .main-footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-footer .logo {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        border-bottom: 1px solid white;
        height: 30vh;
    }

    .main-footer .logo figure {
        width: 40vw;
        height: 14vh;
        margin: 9px;
    }

    .main-footer .logo figure img {
        width: 100%;
    }

    .main-footer .suscrip-forms {
        display: inline-block;
        width: 75%;
        margin: 4px;
        padding: 4px;
        position: relative;
    }

    .main-footer .suscrip-forms form label {
        font-weight: 600;
        font-size: 15px;
    }

    .main-footer .suscrip-forms form input {
        margin-top: 10px;
        padding: 4px;
        padding-left: 12px;
        border-radius: 15px;
        width: 150%;
        font-size: 15px;
        font-weight: 600;
    }

    .button {
        background-color: var(--Naranja);
        color: white;
        padding: 4px;
        border-radius: 15px;
        position: absolute;
        left: 143px;
        top: 60px;
    }

    .main-footer .container {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin-left: 60px;
        padding: 0;
    }

    .main-footer .container .ul1 {
        margin: 5px;
        width: 18vw;
        display: inline;
        padding: 0;
    }

    .main-footer .container .ul1 .nosotros {
        padding-bottom: 10px;
        font-size: 16px;
    }

    .main-footer .container .ul1 li {
        font-size: 13px;
    }

    .main-footer .container .ul2 {
        margin: 5px;
        width: 18vw;
        display: inline;
        padding: 0;
    }

    .main-footer .container .ul2 .redes {
        padding-bottom: 10px;
        font-size: 16px;
    }


    .main-footer .container .ul2 li {
        font-size: 13px;
    }

    .main-footer .container .ul3 {
        margin: 5px;
        width: 10vw;
        display: inline;
        padding: 0;
    }

    .main-footer .container .ul3 .ayuda {
        padding-bottom: 10px;
        font-size: 16px;
    }

    .main-footer .container .ul3 li {
        font-size: 13px;
    }

    .main-footer .fin {
        display: flex;
    }

    .main-footer .fin .copy-left {
        font-size: 15px;
        margin-top: 10px;
    }

    .main-footer .fin .right .iconos-right {
        display: -webkit-inline-box;
        /* text-align: end; */
    }

    .right {
        margin-left: 54%;
        font-size: 20px;
    }

    .main-footer .fin .right .iconos-right li {
        padding: 5px;
    }

    .afooter {
        color: white;
    }

}

/*DESKTOP*/

@media(min-width:769px) {

    .seccion1-footer {
        display: none;
    }

    .seccion2-footer {
        margin: 0;
    }

    .main-footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-footer .logo {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        border-bottom: 1px solid white;
        height: 25vh;
    }

    .main-footer .logo figure {
        width: 40vw;
        height: 14vh;
        margin: 9px;
    }

    .main-footer .logo figure img {
        width: 100%;
    }

    .main-footer .suscrip-forms {
        display: inline-block;
        width: 75%;
        margin: 4px;
        padding: 4px;
        position: relative;
    }

    .main-footer .suscrip-forms form label {
        font-weight: 600;
        font-size: 18px;
    }

    .main-footer .suscrip-forms form input {
        margin-top: 10px;
        padding: 4px;
        padding-left: 12px;
        border-radius: 15px;
        width: 150%;
        font-size: 15px;
        font-weight: 600;
    }

    .button {
        background-color: var(--Naranja);
        color: white;
        padding: 4px;
        border-radius: 15px;
        position: absolute;
        left: 206px;
        top: 68px;
    }

    .main-footer .container {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin-left: 10px;
        padding: 0;
    }

    .main-footer .container .ul1 {
        margin: 5px;
        width: 18vw;
        display: inline;
        padding: 0;
    }

    .main-footer .container .ul1 .nosotros {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .main-footer .container .ul1 li {
        font-size: 15px;
    }

    .main-footer .container .ul2 {
        margin: 5px;
        width: 18vw;
        display: inline;
        padding: 0;
    }

    .main-footer .container .ul2 .redes {
        padding-bottom: 10px;
        font-size: 18px;
    }


    .main-footer .container .ul2 li {
        font-size: 15px;
    }

    .main-footer .container .ul3 {
        margin: 5px;
        width: 10vw;
        display: inline;
        padding: 0;
    }

    .main-footer .container .ul3 .ayuda {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .main-footer .container .ul3 li {
        font-size: 15px;
    }

    .main-footer .fin {
        display: flex;
    }

    .main-footer .fin .copy-left {
        font-size: 20px;
    }

    .main-footer .fin .right .iconos-right {
        display: -webkit-inline-box;
        /* text-align: end; */
    }

    .right {
        margin-left: 54%;
        font-size: 27px;
    }

    .main-footer .fin .right .iconos-right li {
        padding: 5px;
    }

    .afooter {
        color: white;
    }

}