/** {
    max-width: 100%;
}*/

/*MOBILE*/
@media(max-width:399px) {
    .carroDeCompras {
        border: solid 4px var(--Naranja);
        padding: 5px;
    }

    .cerrarCarrito2 {
        display: none;
    }

    .cerrarCarrito1 {
        color: var(--Negro);
        background-color: var(--Blanco);
        border: none;
        border-radius: 50%;
    }

    .carritoCerrar1 {
        padding: 6px 10px;
        border: 1px solid var(--Negro);
        border-radius: 50%;
        margin-left: 10px;
    }

    .parteSuperiorCarrito {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        margin-bottom: 10px;
    }

    .datosUsuarioCarrito {
        display: inline-flex;
        flex-direction: row-reverse;
        border: 1px solid var(--Gris);
        border-radius: 40px;
        padding: 5px 15px;
        margin-right: 3px;
    }

    .datosUsuarioCarrito p {
        display: none;
    }

    .userCarritoCompras {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .datosUsuarioCarrito h4 {
        font-size: 16px;
        margin-right: 14px;
        margin-top: 9px;
        font-weight: 600;
    }

    .divProductoCarrito {
        border: solid 1px var(--Naranja);
        padding: 5px;
        display: flex;
        border-radius: 5px;
        margin-bottom: 8px;
        height: 125px;
    }

    .imgProductoCarrito {
        width: 140px;
    }

    .productoCarritoCompras {
        width: 127px;
        padding-left: 20px;
        height: 70px;
        display: inline-block;
    }

    .productoCarritoCompras h5 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    .productoCarritoCompras h6 {
        display: inline-block;
        color: var(--Naranja);
        font-size: 12px;
    }

    .precioCarritoCompras {
        display: inline-block;
    }

    .masmenosCarrito {
        display: flex;
        margin-left: auto;
        /* margin-bottom: 10px; */
        height: 30px;
        margin: 0;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .masmenosCarrito button {
        border: none;
        height: 23px;
        background-color: var(--Blanco);
        margin-top: 4px;
    }

    .masmenosCarrito p {
        height: 100%;
        margin: 0 8px;
        background-color: var(--Gris);
        padding: 0 8px;
        font-size: 20px;
        border: 1px solid var(--Naranja);
        border-radius: 5px;
    }

    .agregarProductosCarrito {
        height: 125px;
    }

    .agregarProductosCarrito button {
        width: 100%;
        height: 100%;
        border: solid 2px #7e8082;
        border-radius: 5px;
        font-size: 26px;
    }

    .divProductoAgregado {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    .parteInferiorCarrito {
        margin-top: 50px;
        border-top: 1px solid #7e8082;
        padding: 10px 20px;
    }

    .parteInferiorCarrito i {
        font-size: 30px;
        color: var(--Naranja);
    }

    .parteInferiorCarrito h2 {
        font-weight: 700;
        margin: 0;
        margin-left: 15px;
        display: inline-block;
    }

    .totalCarritoCompras {
        display: flex;
        justify-content: center;
    }

    .divBotonCarritoCompras {
        display: flex;
        justify-content: center;
    }

    .divBotonCarritoCompras button {
        width: 200px;
        border: none;
        background-color: var(--Naranja);
        color: var(--Blanco);
        border-radius: 20px;
        height: 35px;
        margin-top: 10px;
        font-weight: 600;
    }
}

@media(min-width:400px) {
    .carroDeCompras {
        border: solid 4px var(--Naranja);
        padding: 5px;
    }

    .cerrarCarrito2 {
        display: none;
    }

    .cerrarCarrito1 {
        color: var(--Negro);
        background-color: var(--Blanco);
        border: none;
        border-radius: 50%;
    }

    .carritoCerrar1 {
        padding: 6px 10px;
        border: 1px solid var(--Negro);
        border-radius: 50%;
        margin-left: 10px;
    }

    .parteSuperiorCarrito {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        margin-bottom: 10px;
    }

    .datosUsuarioCarrito {
        display: inline-flex;
        flex-direction: row-reverse;
        border: 1px solid var(--Gris);
        border-radius: 40px;
        padding: 5px 15px;
        margin-right: 3px;
    }

    .datosUsuarioCarrito p {
        display: none;
    }

    .userCarritoCompras {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .datosUsuarioCarrito h4 {
        font-size: 16px;
        margin-right: 14px;
        margin-top: 9px;
        font-weight: 600;
    }

    .divProductoCarrito {
        border: solid 1px var(--Naranja);
        padding: 5px;
        display: flex;
        border-radius: 5px;
        margin-bottom: 8px;
        height: 125px;
    }

    .imgProductoCarrito {
        width: 140px;
    }

    .productoCarritoCompras {
        width: 127px;
        padding-left: 20px;
        height: 70px;
        display: inline-block;
    }

    .productoCarritoCompras h5 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    .productoCarritoCompras h6 {
        display: inline-block;
        color: var(--Naranja);
        font-size: 12px;
    }

    .precioCarritoCompras {
        display: inline-block;
    }

    .masmenosCarrito {
        display: flex;
        margin-left: auto;
        /* margin-bottom: 10px; */
        height: 30px;
        margin: 0;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .masmenosCarrito button {
        border: none;
        height: 23px;
        background-color: var(--Blanco);
        margin-top: 4px;
    }

    .masmenosCarrito p {
        height: 100%;
        margin: 0 8px;
        background-color: var(--Gris);
        padding: 0 8px;
        font-size: 20px;
        border: 1px solid var(--Naranja);
        border-radius: 5px;
    }

    .agregarProductosCarrito {
        height: 125px;
    }

    .agregarProductosCarrito button {
        width: 100%;
        height: 100%;
        border: solid 2px #7e8082;
        border-radius: 5px;
        font-size: 26px;
    }

    .divProductoAgregado {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    .parteInferiorCarrito {
        margin-top: 50px;
        border-top: 1px solid #7e8082;
        padding: 10px 20px;
    }

    .parteInferiorCarrito i {
        font-size: 30px;
        color: var(--Naranja);
    }

    .parteInferiorCarrito h2 {
        font-weight: 700;
        margin: 0;
        margin-left: 15px;
        display: inline-block;
    }

    .totalCarritoCompras {
        display: flex;
        justify-content: center;
    }

    .divBotonCarritoCompras {
        display: flex;
        justify-content: center;
    }

    .divBotonCarritoCompras button {
        width: 200px;
        border: none;
        background-color: var(--Naranja);
        color: var(--Blanco);
        border-radius: 20px;
        height: 35px;
        margin-top: 10px;
        font-weight: 600;
    }
}


@media(min-width:769px) {
    .main-carrito {

        background-color: lightgrey;

    }

    .carroDeCompras {
        border: solid 4px var(--Naranja);
        padding: 5px;
        width: 95%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.8);
    }

    .cerrarCarrito2 {
        display: none;
    }

    .cerrarCarrito1 {
        color: var(--Negro);
        background-color: var(--Blanco);
        border: none;
        border-radius: 50%;
        width: 32px;
    }

    .carritoCerrar1 {
        padding: 6px 10px;
        border: 1px solid var(--Negro);
        border-radius: 50%;
        margin-left: 1px;
    }

    .parteSuperiorCarrito {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--Naranja);
        background-color: rgb(243 141 71);
        border-radius: 22px;
        align-items: center;
        flex-wrap: nowrap;
    }

    .datosUsuarioCarrito {
        display: inline-flex;
        flex-direction: row-reverse;
        border: 1px solid var(--Gris);
        border-radius: 40px;
        padding: 5px 15px;
        margin-right: 3px;
        background-color: white;
    }

    .datosUsuarioCarrito p {
        display: none;
    }

    .userCarritoCompras {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .datosUsuarioCarrito h4 {
        font-size: 16px;
        margin-right: 14px;
        margin-top: 9px;
        font-weight: 600;
    }

    .divProductoCarrito {
        border: solid 1px var(--Naranja);
        padding: 5px;
        display: flex;
        border-radius: 6px;
        margin-bottom: 8px;
        height: 472px;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 12px;
        box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.8);
    }

    .imgProductoCarrito {
        width: 140px;
    }

    .productoCarritoCompras {
        width: 127px;
        padding-left: 20px;
        height: 70px;
        display: inline-block;
    }

    .productoCarritoCompras h5 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    .productoCarritoCompras h6 {
        display: inline-block;
        color: var(--Naranja);
        font-size: 12px;
    }

    .precioCarritoCompras {
        display: inline-block;
    }

    .masmenosCarrito {
        display: flex;
        margin-left: auto;
        /* margin-bottom: 10px; */
        height: 30px;
        margin: 0;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .masmenosCarrito button {
        border: none;
        height: 23px;
        background-color: var(--Blanco);
        margin-top: 4px;
    }

    .masmenosCarrito p {
        height: 100%;
        margin: 0 8px;
        background-color: var(--Gris);
        padding: 0 8px;
        font-size: 20px;
        border: 1px solid var(--Naranja);
        border-radius: 5px;
    }

    .agregarProductosCarrito {
        height: 125px;
        width: 95px;
    }
    
    

    .agregarProductosCarrito button {
        width: 100%;
        height: 100%;
        border: solid 2px #7e8082;
        border-radius: 31px;
        font-size: 26px;
    }

    .agregarProductosCarrito button:hover {
        transform: scale(1.25);
    }

    .divProductoAgregado {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .parteMedioCarrito {

display: flex;

flex-wrap: nowrap;

justify-content: space-around;

align-items: center;

margin: 25px;

}

    .parteInferiorCarrito {
        margin-top: 300px;
        border: 1px solid #7e8082;
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.8);
    }

    .parteInferiorCarrito i {
        font-size: 30px;
        color: var(--Naranja);
    }

    .parteInferiorCarrito h2 {
        font-weight: 700;
        margin: 0;
        margin-left: 20px;
    }

    .totalCarritoCompras {
        display: flex;
        justify-content: center;
    }

    .divBotonCarritoCompras {
        display: flex;
        justify-content: center;
    }

    .divBotonCarritoCompras button {
        width: 200px;
        border: none;
        background-color: var(--Naranja);
        color: var(--Blanco);
        border-radius: 20px;
        height: 35px;
        margin-top: 10px;
        font-weight: 600;
    }

}