.container-articulo{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 399px) {
    .main-productos {
        margin: 0
    }
}

/*TABLET*/
@media(min-width: 400px) {
    .main-productos {
        margin: auto;
    }

}

/*DESKTOP*/

@media(min-width:769px) {
    .main-productos {
        margin: auto;
    }

   
}
