.tituloSeccion {
    color: var(--Naranja);
    font-weight: 700;
    margin-bottom: 0;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    padding-left: 20px;
    font-size: 30px;
}

.seccionPizza {
    height: 145vh;
    background-image: url('/images/img3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.seccionHamburguesa {
    background-image: url('/images/img5.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.seccionPapas {
    background-image: url('/images/img14.png');
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.variedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    justify-items: center;
}

.variedades article{
text-align: center;
}

.variedades img {
    width: 39vw;
    height: 24vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.variedades img:hover {
    transform: scale(1.2);
}

.variedades h4 {
    font-size: 20px;
    font-weight: bolder;
    background: antiquewhite;
    margin:  0;
}
.price-discount{
    font-size: 20px;
    font-weight: bolder;
    background: antiquewhite;
    margin-bottom: 8px;
}

.variedades button {
    padding: 5px;
    border-radius: 20%;
    border-color: var(--Gris)
}

.variedades button:hover {
    transform: scale(1.2);
}

/*TABLET*/
@media(min-width: 400px) {}

/*DESKTOP*/

@media(min-width:769px) {}