/*body*/

.bodyUpdate{}

/* main*/

.bodyUpdate .update{
    display: flex;
    justify-content: center;
    padding-left: 6vw;
    flex-direction: column;
}
.bodyUpdate .update div.prevList{
}
.bodyUpdate .update div.prevList form{}
.bodyUpdate .update div.prevList form input{background-color: #;}
.bodyUpdate .update section{}
.bodyUpdate .update section h1{
    margin-top: 15px;
    color: var(--Naranja);
    text-align: center;
}.bodyUpdate .update div.prevList{}
.bodyUpdate .update div.prevList form{}
.bodyUpdate .update div.prevList form input{
     padding: 10px; /* Añade espacio interno alrededor del botón de envío */
        background-color: #ea8e17; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        border: none; /* Elimina el borde del botón */
        border-radius: 4px; /* Hace que los bordes sean redondeados */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.bodyUpdate .update div.prevList form input:{
}

.bodyUpdate .update section div{margin: 6px;}

.bodyUpdate .update section .info{
    -
    color: #FFAA68;
    width: 91vw;
    border: 1px solid #efa537;
    border-radius: 7px;
    padding: 40px;
}
.bodyUpdate .update section .info form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bodyUpdate .update section .info form div{
    width: 48%;
}
.bodyUpdate .update section .info form .seccion{
    display: flex;
}
.bodyUpdate .update section .info form div label{
    color: var(--Naranja);
}
.bodyUpdate .update section .info form div input{
    border: 1px solid var(--Gris);
}
.bodyUpdate .update section .info form .seccion div{
}
.bodyUpdate .update section .info div.boton{display: flex;justify-content: space-around;}
.bodyUpdate .update section .info div.boton button{
    
        padding: 10px; /* Añade espacio interno alrededor del botón de envío */
        background-color: #ea8e17; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        border: none; /* Elimina el borde del botón */
        border-radius: 4px; /* Hace que los bordes sean redondeados */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    
}